table{
    border: 1px solid black;
}
table tr{
    border: 1px solid black;
}
table td{
    border: 1px solid grey;
}
.demo-card-wide.mdl-card {

    height: 256px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/banner.jpeg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.demo-card-event.mdl-card {


    height: 256px;
    background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.mdl-card{

    width: 100%;

}
.page-content{

    padding: 40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.mdl-layout{
    background: url("../img/backgroud.jpeg") center / cover;
}
.blur{
    position: fixed;
    width: 105%;
    height:1080px;
    background: url("../img/backgroud.jpeg") center / cover;
    filter: blur(15px);
}
@keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
}
.mdl-layout__tab-panel.is-active{


    animation: showNav 550ms ease-in-out both;

}
#table{
    background: white;
}
h1{
    color: white;
}
.warning{
    background: orangered;
    color:white;
}
.un{
   /* width: 1px;*/
}