.demo-card-wide.mdl-card {

    height: 256px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/banner.jpeg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.demo-card-event.mdl-card {


    height: 256px;
    background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.mdl-card{

    width: 100%;

}
.page-content{

    padding: 40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.mdl-layout{
    background: url("../img/backgroud.jpeg") center / cover;
}
.blur{
    position: fixed;
    width: 105%;
    height:1080px;
    background: url("../img/backgroud.jpeg") center / cover;
    filter: blur(15px);
}
@keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
}
.mdl-layout__tab-panel.is-active{


    animation: showNav 550ms ease-in-out both;

}
#address{
    color:snow;
}
@keyframes showCardDetail {
    from{transform: translateY(0);}
    to{transform: translateY(-100%);}
}
@keyframes hideCardDetail {
    from{transform: translateY(100%);}
    to{transform: translateY(0);}
}
.card-Detail{

    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}
.card-Detail.show{
    animation: showCardDetail 500ms ease-in-out both;
    display: block;
}
.card-Detail.hide{
    animation: hideCardDetail 500ms ease-in-out both;
    display: none;
}
.detail-head{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 100;
    line-height: 35px;
    border-bottom: 1px solid lightgrey;
}
.detail-content{
    padding: 2px;
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}
.content-col{
    width: 25%;

}
.detailC{
    padding: 14px;
}
.whiteBackgroud{
    background-color: white;
}
input{
    color:white;
}
nav{
     color: #fff;
    background-color: transparent;
    width: 100%;
    height: auto;
    line-height: unset;
}