.formContainer{

}
h2{
    font-size: medium;
}
.confirm{

}
.line{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.halfline{
    width: 47%;
}
.quadline{
    width: 24%;
}
.container2{

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 46px;

}
.Container{
    width: 72%;
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: left;
}

.Container2{
    width: 100%;
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    justify-content: left;
}
header{
    height: 120px;
}
main{
    margin-bottom: 350px;
    background: none;
    display: flex;
    justify-content: center;;
    width: 100%;
    margin-top: 95px;
}
.TextArea{
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius:5px;

}
form{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.reg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.left{
    text-align: left;
}
.choice-container{
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-evenly;
}
.block{
    padding: 10px;
    width: 450px;
    height: 400px;
    margin-top: 40px;
    background: #eeeee6;
}
.labelText{
    font-size: xx-large;
}
.normal-button{
    width: 300px;
    height: 35px;
    padding: 5px;
    border-radius:5px;
    margin-right: 50px;
    margin-top: 40px;
}
h3{
    display: inline-block;
    zoom: 1;
    margin: 20px 0;
    padding: 4px 14px 4px 0px;
    clear: both;
    font-family: "Montserrat Panda", sans-serif;
    font-weight: normal;
    color: #d02c30;
    font-size: 26px;

}
.panda-form{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.js-ready-time{
    width: 95%;
    padding: 30px;
}

.base-container{
    width: 100%;
    max-width: 1024px;

    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;

}
.empfelen-img{
    width: 100%;

}
.normal-img{

    height: 300px;
}
.normal-img1{
    max-width: 100%;

}
.empfelen-text {
    position: absolute;
    width: 700px;
    background: #0c1a22;
    height: 60px;
    opacity: 0.7;
    top: 450px;
    text-align: left;
}
.tile{
    height: 200px;
    width: 200px;
    text-align: left;
    background: #eeeee6;
    margin: 10px;
    cursor: pointer;
}
.name{
    color:red;
    width: 130px;
    height: 20px;
    float: left;
}
.price{
    float: right;
    color: #d02c30;
}
.descriptions{
    width: 100%;
    text-align: left;
    color: #63656a;
    display: block;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 5px;
}
.description{
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Container3{
    width: 100%;
    max-width: 1024px;
    margin-top: 100px;
    text-align: center;
    height: 600px;
    justify-content: center;
    flex-wrap: wrap;

}
.row{
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background: red;
}
.Jh-button{
    width: 300px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.long{
    width: 650px;
}
.short{
    margin-top: 8px;
    margin-right: 10px;
    width: 210px;

}
.jhMenuItemContainer{
    cursor: pointer;
    background: red;
    display: flex;
    align-items: flex-end;
    border: 1px solid silver;
    height: 175px;
}
.jhItemDetail{

    height: 65px;
    padding: 5px;
    background: whitesmoke;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.upperLine{


    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lowerLine{

    line-height: 13px;
    font-size: small;
}
.page-title{
    background: none !important;
}
body{
    margin: 0;
    background: none;
}
.OrderDetailContainer{
    height: 100%;
    margin-top: 150px;
    background: white;
    min-height: 400px;
    width: 300px;
}
.smallFont{
    text-transform: none;
    font-size: large;
}
.listRow{
    padding:0 30px;
}
.listContext{
    font-size: small;
    color: #1b6d85;
}
.ui-datepicker{
    top:485px !important;
}
.ui-timepicker-container{
    top:485px !important;
}
.headLine{

    width: 100%;
    display: flex;
    justify-content: space-between;
}
.step-Info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
span.icon{
    height: 50px !important;
}
span.title{
    margin-top: -8px;
    background: transparent;
}
.smallImg{
    height: 150px;
}
.itemDescribe{
    width: 100%;
    text-align: center;
}
.makeUpImg{
    height: 90px;
}
.leftImg{
    margin-left: -65px;
    width: 125px;

}
.leftImg img{


}
.itemImg{
    height: 150px;
    margin-bottom: -18px;
}
.hiddenx{
    display: none;
}
.rightImg{

    overflow: hidden;
    margin-left: -128px;
    width: 70px;


}
.rightImg img{


}
#ends{
    justify-content: center;
}
.step{

    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: nowrap;
    background: url("../yxj/menu/emptyforeground.png");
    background-position: center;
    background-repeat: no-repeat;
}
.itemContainer{
    margin-right: 50px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.littleButtons{
    color: #fff;
    border-radius: 10px;
    height: 22px;
    font-size: x-small;
    width: 46px;

    background: #d39e00;
}
.wagen{
margin-left: 24px;
}
.wagen th{
    padding: 5px;
    font-style: oblique;
    width: 100px;
}
.wagen td{
    white-space: nowrap;
    overflow: visible;
    padding-left: 5px;
    font-size: small;
   font-style: normal;
}
.jhG{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 900px;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
}
.center{

    text-align: center;
}
.roundButton{
    display: inline-block;
    width: 25px;
    height: 20px;
    background: url('../yxj/redAdd.jpg');
    background-position: center;
    background-size: 30px;
    border-radius: 30px;
}
.colu{
    width: 180px;


    flex-wrap: wrap;
}
#payment{
    height: 30px;
    margin-left: 30px;
}
.flex{
    display: flex;
}
.menuBar{
    flex-wrap: wrap;
    width: 200px;
}
.buttonContainer{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;

    background: transparent;
}
.controlButton{
    font-size: small;
    padding:3px;
    border-radius: 5px;

    height: 35px;
    color:white;
    background: #ef9832;
}
.whiteBase{
    background: white;
    padding:40px;
    width: 100%;
}
.floatlayers{
    align-items: normal;
    margin-top: -200px;
    height: 150%;
    display: flex;
}
.addonContainer{
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
h2{
    color:#605f56 !important;
}
.topWord{
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.welcomeblock{
    margin-top: -10px;
}
.descriptions{
    margin-top: -10px;
    text-align: center;
    font-size: smaller;
    line-height: 15px;
}
h3{
    font-size: xx-large !important;
}
.titleSmall{
    color: red;
    text-align: center;
    font: bold 48px "Montserrat Panda", sans-serif;
    width: 80%;
    font-size: xx-large;
}
.titleRed{
    color:#ca2d36 !important;
}
.whiteBackgroud{
    background: white;
}
span.title{

}
.colorb{
    color:#6b6b6d;
}
.padd{
    text-align: left !important;
    padding-top:16px ;
}
.add{
    width: 20px;
    height: 20px;
    background: url("../yxj/menu/greyAdd.png") center;
}
.smallTag{
    position: relative;
    top: -150px;
    left:150px;
    background: url(../yxj/menu/addMoney.png);
    width: 60px;
    background-repeat: no-repeat;
    padding: 0 10px 20px 20px;
    background-size: 70px;
}
.smallButton{
    background: url("../yxj/menu/delete.png") center no-repeat;
    height: 15px;
    width: 15px;
    border: none;
    background-size: 15px;

}
.smallButton2{
    background: url("../yxj/menu/edit.png") center no-repeat;
    height: 15px;
    width: 15px;
    border: none;
    background-size: 15px;

}
#menuDescribe{
    text-align: left;
}
.listContexts{
    padding-left: 280px;
    width: 100%;
    border-top: 1px solid grey;

}
.rowContent{
    font-size: 10px;
    width: 100%;
}
#cartShow{
    display: none;
}
@media only screen and (max-width:48em){
    main{
        margin-left: 10px;

        flex-wrap: wrap;
    }
    #cartShow{
        display: block;
    }
    #cart{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
    }
    .Container{


        width: 100%;
        max-width: 840px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: left;
    }
}
#wagen td{
    width: 150px;
    overflow:hidden;
}